HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Compiled class file
*.class

# Log files
*.log
logs/

# BlueJ files
*.ctxt

# Mobile Tools for Java (MTJ)
.metadata/.plugins/org.eclipse.wst.server.core/tmp*/**

# Package Files #
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/extensions.xml
!.mvn/extension.xml

# gradle
.gradle
build/

# eclipse
.classpath
.project
.settings/
bin/

# intellij
.idea/
*.iml
*.iws
*.ipr

# netbeans
nbproject/
build.xml
nbdist/
nbbuild/
dist/
nbsuite/
.nb-gradle/

# temp uploads
/uploads/*

# OS generated
.DS_Store
Thumbs.db